// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
.header-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
.router-link-exact-active, .router-link-active{
    color : #333 !important;
}
.question{
    background: #fdfdfd;
    padding: 10px;
    margin: 10px 10px 0 10px ;
    min-height: 300px;
}
.choix-text{
    display: flex;
    align-items: center;
    margin: 5px auto;
}
.list-choix{
    margin: 0;
    padding: 0;
}
.edit-question{
    background: #fdfdfd;
    padding: 5px;
    margin: 10px auto;
    min-height: 300px;
}
.red{
    color : red;
    cursor: pointer;
}
.txt-question{
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
    color: #111;
    font-size: 1.8em;
}
.active-radio{
    border-color: #6861ce;
    color: #6861ce;
    background: rgba(104,97,206,.15);
}
.selected-option{
    transform: scale(2);
}
.question-front{
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    margin: 20px 15px;
    // min-height: 240px;
    /* box-shadow: 0px 0px 2px 1px #0000000a; */
    border: 1px solid #dadce0;
}