// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
.header-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}